/* Borrar este */
fieldset{
    border: none;
}
legend{
	color: #aaa;
	display: block;
	font-family: Roboto;
	font-size: 2em;
	text-align: center;
}
.mensaje-sistema{
	background-color: rgba(0,0,0,.7);
	border-radius: 5px;
	color: #fff;
	margin-bottom: 1.5em;
	padding: 1em;
}
/* Fin borrar*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"], input[type="date"]{
	text-align: right;
}
.grupo-input--check{
    border:0;
    width: 0;
    height: 0;
}
.grupo-input--check + label{
    width: 3em;
    height: 1em;
    background-color: gray;
    display: inline-block;
    border-radius: 1.25em;
    margin-top: .5em;
    margin-left: .5em;
    transition: all .5s;
}
.grupo-input--check + label:before{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 15px gray;
    content: "";
    display: block;
    height: 1.5em;
    position: relative;
    transform: translateY(-15%);
    transition: all .5s;
    width: 1.5em;
}
.grupo-input--check:checked + label:before{
    background-color: green;
    left: 1.5em;
}
.grupo-input--check:checked + label{
    background-color: teal;
}
.grupo-input--check:focus + label {
    box-shadow: 0 0 20px teal;
}
input[type="radio"]{
    width: 0;
    height: 0;
}
input[type="radio"] + label:before{
    content: "";
    border-radius: 50%;
    display: inline-block;
    width: .75em;
    height: .75em;
    background-color: transparent;
    box-shadow: 0 0 0 3px gray;
    margin-right: .5em;
}
input[type="radio"]:checked + label:before{
    background-color: teal;
    width: .75em;
    height: .75em;
    box-shadow: 0 0 0 2px white,
                0 0 0 5px teal;
}
input[type="radio"]:focus + label{
    box-shadow: 0 0 20px teal;
}

.boton{
    background-color: teal;
    color: #fff;
    display: inline-block;
    float: right;
    text-decoration: none;
    padding: 1rem;
}
.boton:hover{
    box-shadow: 0 0 10px gray;
}
.fondo-gris{
    background-color: rgb(238, 239, 244);
}
.label-data{
    border: none;
    font-family: 'Roboto';
    margin-left: .5em;
    padding-left: .5em;
}
.vista{
    background-color: #fff;
    padding: 1em;
}
.frmComun .grupo-input .grupo-input--texto{
    background-color: transparent;
    color: #333;
    padding-left: .5em;
}
.frmComun .grupo-input .grupo-input--boton{
    width: 50%;
}
.tabla{
    border-collapse: collapse;
    font-family: Roboto;
    table-layout: fixed;
    width: 100%;
}
.tabla caption{
    color: rgb(119,119,119);
    font-size: 2rem;
}
.tabla thead{
    background-color: rgb(65, 87, 108);
}
.tabla th{
    color: rgb(233, 235, 236);
    font-weight: normal;
    text-align: left;
}
.tabla tr{
    line-height: 3;
}
.tabla tbody tr:nth-child(even){
    background-color: rgb(239, 247, 250);
}
.tabla tbody tr:hover{
    background-color: rgb(188,199,205);
}
.tabla th,
.tabla td{
    padding-left: 1.5rem;
}
.tabla td{
    color: rgb(32, 38, 45);
}
.tabla .accion{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1px;
    outline: none;
    padding: .5em;
}
.tabla .accion:hover{
    box-shadow: 0 0 0 2px,
                0 0 5px gray;
}
.tabla .accion:active{
    transform: scale(.96);
}
.eliminar{
    color: rgb(234,81,67);
}
.actualizar{
    color: steelblue;
}
.editar{
    color: steelblue;
}
.col-10{
    width: 10%;
}
.col-20{
    width: 20%;
}
.col-30{
    width: 30%;
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}